* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.app {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}

.headerFooter {
    margin: 20px 0;
    font-weight: bold;
    font-size: 24px;
}

.container {
    display: flex;
    width: 480px;
    height: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.score {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.scoresBar {
    display: flex;
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-between;
    background-color: green;
}

.blackBar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s width;
}

.whiteBar {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s width;
}

.board {
    border: solid 4px black;
}

.row {
    display: flex;
    width: 480px;
    height: 60px;
    background-color: green;
}

.white {
    color: white;
}