* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.app {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orangered;
}

.row {
    display: flex;
    width: 480px;
    height: 60px;
    background-color: green;
    border-bottom: solid 2px black;
}

.row:first-child {
    border-top: solid 2px black;
}

.white {
    color: white;
}